body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: -0.06em;
    background: #E1C6A1;
}

*{
    box-sizing: border-box;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 300;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

a{
    color: #151515;
    text-decoration: none;
    transition: .5s;
    font-weight: 300;
}

a:hover{
    transition: .5s;
}

p{
    margin: 0;
}

button, input, textarea{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    font-weight: 300;
}

input::placeholder, textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
}

button{
    transition: .5s;
}

button:hover{
    transition: .5s;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

/* Form */
.content {
    padding: 60px 0 100px;
}
.content-title{
    text-align: center;
    font-size: 48px;
    max-width: 875px;
    margin: 0 auto;
    font-weight: 300;
}
.content-subtitle{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.752em;
    margin: 30px 0 50px;
}
.form-wrapper{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 16px 55px rgba(0, 0, 0, 0.25);
}
.form-wrapper__content{
    padding: 80px 90px;
    width: calc(100% - 575px);
    position: relative;
    min-height: 850px;
}
.questions-counter{
    display: flex;
    font-size: 19px;
    align-items: center;
}
.questions-counter__number{
    margin: 0 5px;
    padding: 0 4px;
    background: #E7C087;
    border-radius: 5px;
}
.form-question{
    margin: 20px 0 40px;
    display: none;
}
.form-question_active{
    display: block;
}
.question-title{
    font-size: 22px;
    line-height: 1.752em;
    margin-bottom: 15px;
}
.option-input{
    display: none;
}
.option:not(:last-of-type){
    margin-bottom: 15px;
}
.option-label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.option-label__radio{
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 50%;
    border: 2px solid #000;
    margin-right: 15px;
    position: relative;
    flex-shrink: 0;
}
.option-label__text{
    font-size: 20px;
    line-height: 1.752em;
}
.option-input:checked ~ .option-label > .option-label__radio::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
}
.form-btns{
    display: flex;
    align-items: center;
}
.form-btn{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    width: 126px;
    padding: 11px 0;
    border: 2px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
}
.form-btn:hover{
    background: #fff;
    color: #000;
}
.form-btn:not(:last-of-type){
    margin-right: 10px;
}
.form-btn_prev{
    background: #fff;
    color: #000;
    display: none;
}
.form-btn_prev:hover{
    background: #000;
    color: #fff;
}
.form-wrapper__image{
    width: 575px;
    flex-shrink: 0;
}
.form-progress{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
}
.form-progress__bar{
    height: 100%;
    background: linear-gradient(270deg, #FC3732 0%, #D5A174 100%);
    border-radius: 0 5px 5px 0;
    transition: .5s;
    width: 0%;
}
.questio-title_big{
    font-size: 29px;
    line-height: 1.197em;
    margin-bottom: 30px;
}
.questio-title_big__subtitle{
    display: block;
    font-size: 19px;
    line-height: 1.752em;
    margin-top: 10px;
}
.form-input:not(:last-of-type){
    margin-bottom: 15px;
}
.form-input__title{
    display: block;
    font-size: 16px;
    line-height: 1.752em;
    margin-bottom: 5px;
}
.form-input__input{
    max-width: 416px;
    width: 100%;
    border: 1px solid #E7C087;
    border-radius: 10px;
    background: rgba(225, 198, 161, 0.1);
    padding: 18px 30px;
    font-size: 19px;
    line-height: 1.752em;
    font-weight: 400;
}
.form-input__error{
    display: none;
    font-size: 13px;
    color: #ED4464;
    line-height: 1.752em;
}
.form-submit{
    background: #E7C087;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.752em;
    text-shadow: 0px 3px 0px rgb(255 255 255 / 50%);
    padding: 21px 0;
    width: 100%;
    max-width: 416px;
    border-radius: 10px;
    margin: 40px 0 25px;
}
.form-agreement{
    color: rgba(0,0,0,0.8);
    line-height: 1.197em;
    max-width: 416px;
}
.form-agreement__a{
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #E7C087;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.form-submit_error{
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
}
.form-input__input_ok{
    background: #E8F0FE;
}
.form-input__input:focus{
    border-color: #000;
}
.success{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.success__title{
    font-size: 64px;
    line-height: 1.197em;
    margin-bottom: 30px;
}
.success__p{
    font-size: 21px;
    line-height: 1.752em;
}
.iti {
    max-width: 416px;
    width: 100%;
}





@media screen and (max-width: 1500px){
    .container{
        width: 1300px;
    }
    .form-wrapper__image {
        width: 500px;
    }
    .form-wrapper__content {
        padding: 50px 60px;
        width: calc(100% - 500px);
        min-height: 790px;
    }
}

@media screen and (max-width: 1350px){
    .container{
        width: 1140px;
    }
}

@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .form-wrapper__image {
        width: 400px;
    }
    .form-wrapper__content {
        padding: 30px 40px;
        width: calc(100% - 400px);
        min-height: 750px;
    }
}

@media screen and (max-width: 991px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .content {
        padding: 15px 0;
    }
    .content-title {
        text-align: left;
        font-size: 24px;
    }
    .content-subtitle {
        font-weight: 400;
        font-size: 15px;
        text-align: left;
        margin: 10px 0 15px;
    }
    .form-wrapper__image{
        display: none;
    }
    .form-wrapper__content {
        padding: 30px;
        width: 100%;
        min-height: unset;
    }
    .questions-counter {
        font-size: 14px;
    }
    .question-title {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .form-question {
        margin: 15px 0 35px;
    }
    .option-label__radio {
        width: 22px;
        height: 22px;
    }
    .option-input:checked ~ .option-label > .option-label__radio::before {
        width: 8px;
        height: 8px;
    }
    .option-label__text {
        font-size: 15px;
    }
    .form-btn {
        font-size: 12px;
        width: 94px;
        padding: 9px 0;
        border-radius: 4px;
    }
    .questio-title_big {
        font-size: 23px;
        margin-bottom: 25px;
    }
    .questio-title_big__subtitle {
        font-size: 15px;
        margin-top: 5px;
    }
    .form-input__title {
        font-size: 13px;
        margin-bottom: 0;
    }
    .form-input__input {
        padding: 15px 25px;
        font-size: 14px;
        font-weight: 500;
    }
    .form-submit {
        font-size: 13px;
        padding: 16px 0;
        margin: 30px 0 20px;
    }
    .form-agreement {
        font-size: 13px;
    }
    .success__title {
        font-size: 48px;
    }
    .success__p {
        font-size: 17px;
    }
    .form-input__input:focus{
        text-decoration: underline;
    }
    .form-input__input::placeholder{
        font-weight: 500;
    }
}