body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.06em;
    font-size: 20px;
    background: #141414;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 300;
}

img{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

a{
    color: #151515;
    text-decoration: none;
    transition: .5s;
    font-weight: 300;
}

a:hover{
    transition: .5s;
}

p{
    margin: 0;
}

button, input, textarea{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    font-weight: 300;
}

input::placeholder, textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
}

button{
    transition: .5s;
}

button:hover{
    transition: .5s;
}

.container{
    width: 1450px;
    margin: 0 auto;
}

.cta{
    max-width: 440px;
    width: 440px;
    height: 100px;
    border-radius: 10px;
    background: url('../img/btn.png') no-repeat center center/cover, linear-gradient(360deg, #BB8443 36%, #EFCF85 74%, #EFCE86 74%);
    box-shadow: 0px 7px 1px rgba(187, 132, 67, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    transition: .3s;
    color: #000;
}

.cta:hover{
    transition: .3s;
    box-shadow: 0px 4px 200px rgba(187, 132, 67, 0.5);
}

.line-197{
    line-height: 1.197em;
}

.line-157{
    line-height: 1.157em;
}

.line-647{
    line-height: 1.647em;
}

section{
    padding-top: 150px;
}

.title-h2{
    font-size: 64px;
    max-width: 655px;
    line-height: 1.197em;
    opacity: 0.8;
}

.title-h2__subtitle{
    display: block;
    margin-top: 10px;
    font-size: 48px;
    color: #E7C087;
}

/* Header */
.header{
    background: url('../img/header/bg.svg') no-repeat center right/contain, linear-gradient(180deg, #111111 0%, #111111 100%);
    overflow: hidden;
}

.offer-wrapper{
    display: flex;
    justify-content: space-between;
}

.offer{
    max-width: 677px;
    margin-top: 370px;
    position: relative;
    flex-shrink: 0;
}

.offer__title{
    font-size: 64px;
    opacity: 0.8;
}

.offer__p{
    margin: 70px 0 100px;
    font-weight: 400;
    font-size: 30px;
    color: #E7C087;
    opacity: 0.8;
}

.offer-subinfo{
    position: absolute;
    top: -205px;
    max-width: 245px;
    text-align: center;
    right: -105px;
}

.offer-subinfo::after{
    content: "";
    width: 168px;
    height: 332px;
    background: url('../img/header/line.svg') no-repeat top center/contain;
    display: block;
    position: absolute;
    top: calc(100% + 15px);
    left: -40px;
}

.offer-subinfo__span{
    font-size: 40px;
    font-weight: 400;
    color: #E7C087;
    display: block;
    margin-bottom: 5px;
    opacity: 0.8;
}

.offer-subinfo__p{
    font-size: 17px;
    opacity: 0.8;
}

.offer-subinfo__p:not(:last-of-type){
    margin-bottom: 15px;
}

.offer-subinfo__p:not(:last-of-type)::after{
    content: "";
    display: block;
    height: 3px;
    background: #E7C087;
    width: 175px;
    margin: 15px auto 0;
}

.offer-image{
    position: relative;
}

.offer-image__chart{
    position: absolute;
    z-index: 1;
    height: auto;
}

.offer-image__roman{
    position: relative;
    z-index: 2;
    padding-top: 61px;
}

.offer-image::after{
    position: absolute;
    height: 112px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    content: "";
    border-radius: 50%;
    filter: blur(368px);
    top: 30px;
}

.offer-image__rotate{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid #E7C087;
    position: absolute;
    left: 170px;
    bottom: 329px;
    z-index: 4;
    cursor: pointer;
}

.offer-image__rotate:hover > .offer-image-text{
    display: block;
}

.offer-image__rotate::before{
    background: url('../img/header/info.svg') no-repeat center center/contain;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}

.offer-image__rotate_block::after{
    background: url('../img/header/text.png') no-repeat center center/contain;
    width: 116px;
    height: 125px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    animation: "spin" 10s linear infinite;
    animation: spin 10s linear infinite;
}

@keyframes spin { 
    0% { 
        transform: translate(-50%, -50%) rotate(0);
    } 
    100% { 
        transform: translate(-50%, -50%) rotate(360deg);
    } 
}

@-webkit-keyframes spin{
    0% { -webkit-transform: translate(-50%, -50%) rotate(0); }
    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}

@-moz-keyframes spin{
    0% { -moz-transform: translate(-50%, -50%) rotate(0); }
    100% { -moz-transform: translate(-50%, -50%) rotate(360deg); }
}

.offer-image-text{
    position: absolute;
    z-index: 5;
    background: #fff;
    color: #000;
    margin: 0;
    list-style: none;
    padding: 40px 30px;
    width: 400px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.offer-image-text::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 0);
}

.offer-image-text__li{
    font-size: 16px;
    line-height: 1.197em;
    font-weight: 400;
    display: flex;
}

.offer-image-text__li:not(:last-of-type){
    margin-bottom: 10px;
}

.offer-image-text__li::before{
    content: "";
    width: 19px;
    height: 19px;
    background: url('../img/icons/li.svg') no-repeat center center/contain;
    flex-shrink: 0;
    margin-right: 10px;
}

/* Feedback */
.feedback{
    overflow: hidden;
}

.feedback .owl-stage-outer{
    overflow: visible;
}

.feedback-carousel{
    margin-top: 100px;
    padding: 0 90px;
    position: relative;
}

.feedback-item{
    border: 2px solid #E7C087;
    padding: 35px 25px;
    height: 100%;
}

.feedback-item__user{
    display: flex;
    align-items: center;
}

.feedback-user-img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.feedback-user-info{
    font-size: 15px;
    letter-spacing: 0;
}

.feedback-user-info__name{
    display: block;
    font-weight: 500;
}

.feedback-user-info__date{
    font-weight: 200;
    color: #E7C087;
    display: block;
    margin-top: 5px;
}

.feedback-item__rating{
    display: flex;
    margin: 22px 0 24px;
}

.feedback-rating{
    width: 20px;
    height: 20px;
    display: block;
    background: url('../img/icons/star.svg') no-repeat center center/contain;
}

.feedback-rating_half{
    background: url('../img/icons/star-half.svg') no-repeat center center/contain;
}

.feedback-rating_empty{
    background: url('../img/icons/star-empty.svg') no-repeat center center/contain;
}

.feedback-rating:not(:last-of-type){
    margin-right: 4px;
}

.feedback-item__text{
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    max-height: 220px;
    overflow-y: scroll;
}

.feedback-item__text::-webkit-scrollbar{
    display: none;
}

.owl-stage {
    display: flex;
}

.feedback-item_arrow{
    position: relative;
}

.feedback-item_arrow::after{
    content: "";
    width: 8px;
    height: 17px;
    background: url('../img/icons/arrow-down.svg') no-repeat top center/contain;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.feedback-carousel__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #E7C087;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: .3s;
}
.feedback-carousel__btn:hover{
    opacity: 1;
    transition: .3s;
}
.feedback-carousel__btn_prev{
    left: 0;
}
.feedback-carousel__btn_prev::after{
    content: "";
    background: url('../img/icons/slider-prev.svg') no-repeat center center/cover;
    width: 12px;
    height: 14px;
}
.feedback-carousel__btn_next{
    right: 0;
}
.feedback-carousel__btn_next::after{
    content: "";
    background: url('../img/icons/slider-next.svg') no-repeat center center/cover;
    width: 12px;
    height: 14px;
}

/* Reasons */
.reasons{
    padding-bottom: 150px;
}

.reasons-wrapper{
    display: flex;
    justify-content: space-between;
}

.reason{
    max-width: 639px;
}

.reason__gold{
    font-weight: 500;
    font-size: 24px;
    color: #E7C087;
    line-height: 1.752em;
    margin-top: 40px;
    opacity: 0.8;
}

.reason__white{
    line-height: 1.957em;
    font-weight: 500;
    margin-top: 60px;
    color: rgba(255,255,255,0.8);
    position: relative;
}

.reason__white::before{
    width: 62px;
    height: 62px;
    position: absolute;
    background: url('../img/icons/quotes.svg') no-repeat center center/contain;
    content: "";
    left: -72px;
    top: -23px;
}

.reason__author{
    display: flex;
    align-items: center;
    margin-top: 45px;
    font-size: 40px;
    flex-wrap: wrap;
}
.reason__author::before{
    content: "";
    width: 100%;
    height: 24px;
    background: url('../img/line-arrow.svg') no-repeat bottom center/cover;
}
.reason-author-img{
    width: 210px;
    margin-right: 35px;
}
.reason-author-name__white{
    display: block;
    color: rgba(255,255,255,0.8);
}
.reason-author-name__gold{
    display: block;
    color: #E7C087;
    opacity: 0.8;
}

.features{
    border: 2px solid #E7C087;
    max-width: 610px;
    position: relative;
    padding: 138px 15px 15px 15px;
}
.features__title{
    position: absolute;
    color: rgba(231, 192, 135, 0.8);
    font-size: 48px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #141414 10%, #141414 90%, rgba(255, 255, 255, 0) 100%);
    padding: 0 30px;
    z-index: 1;
}
.features-content{
    background: #FFF8EE;
    color: #000000;
    padding: 60px 50px;
    position: relative;
    z-index: 2;
}
.features-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.features-ul__li{
    display: flex;
    font-weight: 400;
    line-height: 1.197em;
}
.features-ul__li:not(:last-of-type){
    margin-bottom: 20px;
}
.features-ul__li::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url('../img/icons/li.svg') no-repeat center center/contain;
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 2px;
}
.features-border{
    position: absolute;
    border: 2px solid #E7C087;
    top: 62px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    z-index: 1;
}
.features-border__span{
    position: absolute;
    color: rgba(231, 192, 135, 0.8);
    font-weight: 500;
    line-height: 1.752em;
    white-space: nowrap;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #141414 10%, #141414 90%, rgba(255, 255, 255, 0) 100%);
    padding: 0 50px;
}
.features-cta {
    margin: 90px auto 0;
}

/* Contacts */
.contacts{
    padding-top: 88px;
    overflow-x: hidden;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    background: url('../img/header/bg.svg') no-repeat center right/contain, linear-gradient(180deg, #111111 0%, #111111 100%);
}
.contacts-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts-content-name{
    font-size: 80px;
    opacity: 0.8;
}
.contacts-content-name__gold{
    color: #E7C087;
    display: block;
}
.contacts-content-name__white{
    display: block;
}
.contacts-content-links{
    margin: 60px 0 45px;
    display: flex;
    align-items: center;
}
.contacts-socials{
    display: flex;
}
.contacts-socials__link, .footer-socials__link{
    width: 40px;
    height: 40px;
    background: #E7C087;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
}
.contacts-socials__link:hover, .footer-socials__link:hover{
    background: rgba(231, 192, 135, 0.5);
    transition: .3s;
}
.contacts-socials__link:not(:last-of-type),
.footer-socials__link:not(:last-of-type){
    margin-right: 10px;
}
.contacts-content-links__title{
    line-height: 1.957em;
    color: rgba(255,255,255,0.8);
    margin-left: 15px;
}
.contacts-content-info{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contacts-content-info__li{
    line-height: 1.957em;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
}
.contacts-content-info__li:not(:last-of-type){
    margin-bottom: 15px;
}
.contacts-content-info__li::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url('../img/icons/li_gold.svg') no-repeat center center/contain;
    flex-shrink: 0;
    margin-right: 10px;
    display: inline-block;
    transform: translate(0, 2px);
}
.contacts-content-info-accent{
    opacity: 0.8;
    color: #E7C087;
}
.contacts-photo{
    position: relative;
    max-width: 615px;
    flex-shrink: 0;
}
.contacts-photo__chart{
    position: absolute;
    z-index: 1;
    left: -40px;
    right: -122px;
    top: 0;
    height: 658px;
}
.contacts-photo__main{
    position: relative;
    z-index: 2;
}

/* Questions */
.questions{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
}
.title-h2_questions{
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}
.questions-subtitle{
    text-align: center;
    max-width: 773px;
    margin: 35px auto 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.257em;
    opacity: 0.8;
    color: #E7C087;
}
.questions-subtitle__span{
    color: #fff;
}
.questions-block{
    position: relative;
    padding-bottom: 120px;
}
.questions-block::before{
    position: absolute;
    content: "";
    background: url('../img/questions/bars.png') no-repeat bottom center/contain;
    width: 654px;
    height: 711px;
    max-width: 654px;
    max-height: 711px;
    bottom: 258px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}
.questions-block::after{
    position: absolute;
    content: "";
    background: url('../img/questions/roman.png') no-repeat bottom center/contain;
    width: 705px;
    height: 1055px;
    max-width: 705px;
    max-height: 1055px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
.questions-row{
    display: flex;
    justify-content: space-between;
}
.questions-row:not(:last-of-type){
    margin-bottom: 90px;
}
.questions-row_center{
    margin-bottom: 50px;
    justify-content: center;
}
.questions-row__item{
    max-width: 320px;
    text-align: center;
    line-height: 1.197em;
    font-weight: 400;
    opacity: 0.8;
}
.questions-row__item_short{
    max-width: 213px;
}
.questions-row-gold{
    color: #E7C087;
}
.questions-row_1{
    padding: 0 180px;
}
.questions-row_2{
    padding: 0 30px;
}
.questions-animation{
    width: 486px;
    max-width: 486px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 613px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}
.questions-animation__group{
    display: flex;
}
.questions-animation-bar{
    width: 12px;
    height: 300px;
    background: url(../img/questions/animation.png) no-repeat center center/cover;
    border-radius: 5px;
    display: block;
    position: relative;
    transition: 1s;
}
.questions-animation-bar:not(:last-of-type){
    margin-right: 12px;
}

/* Users */
.users{

}
.users-h2{
    max-width: 850px;
}
.users-h2__span{
    color: #E7C087;
}
.users-block{
    background: url('../img/long-line.svg') no-repeat top center/contain;
    height: 567px;
    position: relative;
    top: -33px;
}
.users-items{
    display: flex;
    position: absolute;
    top: 128px;
    width: 1230px;
    left: 195px;
    justify-content: space-between;
}
.users-item{
    width: 25%;
}
.users-item__number{
    display: inline-block;
    color: #E7C087;
    font-size: 55px;
    line-height: 1.197em;
    background: #141414;
    padding: 0 15px;
}
.users-item__p{
    padding-left: 15px;
    margin-top: 55px;
    line-height: 1.752em;
    font-size: 24px;
}
.users-block__cta{
    position: absolute;
    width: 440px;
    bottom: 0;
    left: 195px;
    transform: translate(0, 50%);
    z-index: 1;
}
.users-block__cta::before{
    content: "";
    width: 926px;
    height: 520px;
    background: rgba(231, 192, 135, 0.1);
    filter: blur(368px);
    position: absolute;
    z-index: 0;
}

/* Partners */
.partners{

}
.partners-h2{
    text-align: center;
    width: 100%;
    max-width: 1210px;
    font-size: 55px;
    margin: 0 auto;
}
.partners-block{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.partners-block__item{
    background: rgba(255, 255, 255, 0.3);
    padding: 12px;
    border-radius: 10px;
    height: 173px;
    width: 410px;
}
.partners-block-bg{
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.partners-block-img{
    height: 89px;
}

/* Submit */
.submit{
    display: flex;
    padding-top: 120px;
    align-items: center;
}
.submit__img{
    width: 50%;
}
.submit-img{
    object-fit: cover;
}
.submit__content{
    margin-left: 100px;
}
.submit-header{
    width: 450px;
    line-height: 1.852em;
    display: block;
    opacity: 0.8;
}
.submit-header__title{
    font-size: 80px;
    opacity: 0.8;
}
.submit-header__p{
    margin-top: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #E7C087;
    line-height: 1.752em;
}
.cta-gold{
    margin: 75px 0 10px;
    display: block;
    color: #E7C087;
    font-weight: 500;
    letter-spacing: 0.055em;
    padding: 32px 64px;
    width: fit-content;
    border: 2px solid #E7C087;
    border-radius: 50px;
    text-transform: uppercase;
    transition: .3s;
}
.cta-gold:hover{
    transition: .3s;
    background: rgba(231, 192, 135, 1);
    color: #000;
}
.cta-warning{
    opacity: 0.8;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.957em;
}
.cta-warning__gold{
    color: #E7C087;
}

/* Footer */
.footer{
    background: #171717;
    padding: 105px 0 35px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-copyright{
    font-weight: 400;
    opacity: 0.8;
    color: #E7C087;
}
.footer-socials{
    display: flex;
    margin-bottom: 12px;
    justify-content: flex-end;
}
.footer-docs{
    display: flex;
}
.footer-docs__link{
    color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;
    line-height: 1.752em;
    display: flex;
    align-items: center;
    transition: .3s;
}
.footer-docs__link:hover{
    transition: .3s;
    color: #fff;
}
.footer-docs__link:not(:last-of-type)::after{
    content: "";
    width: 2px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    margin: 0 15px;
}

/* Plans */
.plans-title{
    max-width: 100%;
}
.plans-wrapper{
    margin-top: 80px;
}
.plans-wrapper__header{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.plan-column{
    width: 288px;
}
.plan-column:not(:last-of-type){
    margin-right: 8px;
}
.plan-name{
    background: url('../img/btn.png') no-repeat center center/cover, linear-gradient(360deg, #BB8443 36%, #EFCF85 74%, #EFCE86 74%);
    display: block;
    text-align: center;
    color: #151515;
    font-size: 24px;
    font-weight: 500;
    padding: 31px 0;
    border-radius: 10px 10px 0 0;
}
.plans-wrapper__body{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 80px 30px;
}
.plan-table-row{
    background: rgba(20, 20, 20, 0.1);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.plan-table-row:nth-child(2n){
    background: #fff;
}
.plan-table-row__title{
    color: #171717;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19em;
}
.plan-table-boxes {
    display: flex;
}
.plan-table-boxes__box{
    width: 288px;
    height: 22px;
    flex-shrink: 0;
    display: block;
    background: url('../img/icons/li.svg') no-repeat center center/contain;
}
.plan-table-boxes__box:not(:last-of-type){
    margin-right: 8px;
}
.plan-table-boxes__box_false{
    opacity: 0.3;
    background: url('../img/icons/times.svg') no-repeat center center/contain;
}
.plans-wrapper__footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.plan-price{
    display: block;
    margin: 32px 0 28px;
    text-align: center;
    font-size: 45px;
    color: #E7C087;
    opacity: 0.8;
}
.plan-price::after{
    content: "руб.";
    font-size: 20px;
    font-weight: 400;
}
.plan-cta {
    width: calc(100% - 8px);
    font-size: 15px;
    height: 82px;
    margin: 0 auto;
}

.plans-mobile{
    display: none;
}



@media screen and (max-width: 1500px){
    .container{
        width: 1300px;
    }
    
    .users-block{
        height: 516px;
    }

    .title-h2{
        font-size: 56px;
    }

    .offer {
        margin-top: 272px;
    }

    .questions-row:not(:last-of-type) {
        margin-bottom: 70px;
    }

    .questions-block{
        padding-bottom: 100px;
    }

    .questions-block::after{
        max-width: 600px;
    }

    .questions-block::before{
        max-height: 600px;
    }

    .questions-animation{
        bottom: 464px;
    }

    .users-items{
        max-width: 1080px;
        top: 110px;
    }

    .users-item__p {
        margin-top: 25px;
        font-size: 20px;
    }

    .partners-h2{
        max-width: 100%;
    }

    .plan-name {
        padding: 25px 0;
    }

    .plan-column, .plan-table-boxes__box {
        width: 250px;
    }


}

@media screen and (max-width: 1350px){
    .container{
        width: 1140px;
    }
    .offer__title {
        font-size: 50px;
    }
    .offer__p {
        margin: 40px 0 70px;
        font-size: 26px;
    }
    .cta {
        max-width: 369px;
        height: 85px;
        font-size: 18px;
    }
    .offer {
        margin-top: 245px;
        max-width: 640px;
    }
    .offer-subinfo {
        top: -175px;
        right: -70px;
    }
    .offer-subinfo::after {
        height: 205px;
        background: url('../img/header/line.svg') no-repeat bottom center/cover;
        left: -44px;
    }
    .offer-image__rotate {
        left: 75px;
        bottom: 115px;
    }
    .reason {
        max-width: 50%;
    }
    .reason__gold {
        font-size: 20px;
    }
    .reason__white {
        font-size: 16px;
    }
    .reason-author-img {
        width: 150px;
    }
    .reason-author-name {
        font-size: 28px;
    }
    .features {
        max-width: 50%;
        flex-shrink: 0;
        margin-left: 50px;
        padding-top: 115px;
    }
    .features-border{
        top: 50px;
    }
    .features-content {
        padding: 40px 30px;
    }
    .features-ul__li {
        font-size: 18px;
    }
    .features-ul__li::before {
        width: 18px;
        height: 18px;
    }
    .contacts-photo{
        max-width: 500px;
    }
    .contacts-content-name {
        font-size: 65px;
    }
    .questions-subtitle {
        margin: 20px auto 50px;
        font-size: 30px;
    }
    .questions-block::after {
        max-width: 450px;
    }
    .questions-block::before {
        max-height: 100%;
        max-width: 400px;
        bottom: 200px;
    }
    .questions-animation {
        bottom: 300px;
        max-width: 380px;
    }
    .questions-animation-bar:not(:last-of-type){
        margin-right: 5px;
    }
    .questions-block {
        padding-bottom: 60px;
    }
    .questions-row:not(:last-of-type) {
        margin-bottom: 45px;
    }
    .users-block {
        height: 450px;
        top: -24px;
    }
    .users-item__number {
        font-size: 45px;
        padding: 0 10px;
    }
    .users-items {
        max-width: 915px;
        top: 98px;
    }
    .users-item__p {
        margin-top: 15px;
        padding-left: 10px;
        font-size: 18px;
    }
    .users-item {
        width: 23%;
    }
    .title-h2 {
        font-size: 45px;
    }
    .users-h2 {
        max-width: 608px;
    }
    .partners-block__item {
        height: 150px;
        width: 30%;
    }
    .submit__content {
        margin-left: 50px;
    }
    .submit-header__title {
        font-size: 60px;
    }
    .submit-header__p {
        margin-top: 15px;
        font-size: 20px;
    }
    .cta-gold {
        margin: 50px 0 10px;
        padding: 25px 35px;
        font-size: 16px;
    }
    .footer-wrapper {
        font-size: 16px;
    }
    .offer-image__chart{
        top: 60px;
    }
    .plan-name {
        padding: 20px 0;
        font-size: 18px;
    }
    .plan-column, .plan-table-boxes__box {
        width: 200px;
    }
    .plan-price{
        font-size: 35px;
    }
    .plan-cta {
        height: 65px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .offer {
        margin-top: 250px;
        max-width: 550px;
    }
    .offer__title {
        font-size: 45px;
    }
    .offer__p {
        margin: 25px 0 55px;
        font-size: 22px;
    }
    .cta {
        max-width: 340px;
        height: 75px;
        font-size: 17px;
    }
    .offer-subinfo {
        top: -195px;
        right: -86px;
    }
    .offer-subinfo__span {
        font-size: 32px;
    }
    .offer-subinfo__p {
        font-size: 16px;
    }
    .offer-subinfo::after {
        height: 202px;
    }
    .offer-image__roman{
        padding-top: 100px;
    }
    .offer-image__rotate {
        left: 26px;
        bottom: 73px;
    }
    section {
        padding-top: 100px;
    }
    .title-h2{
        max-width: 455px;
    }
    .features-content {
        padding: 25px;
    }
    .features-ul__li:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .features {
        padding-top: 100px;
    }
    .contacts-photo {
        max-width: 425px;
    }
    .contacts-photo__chart {
        left: -2px;
        right: 0;
        top: -130px;
        height: 514px;
    }
    .contacts-content-info__li {
        line-height: 1.5em;
    }
    .title-h2_questions{
        max-width: 100%;
    }
    .questions-row__item {
        max-width: 251px;
        font-size: 18px;
    }
    .questions-block::after {
        max-width: 390px;
    }
    .questions-block::before {
        max-width: 380px;
        bottom: 150px;
    }
    .questions-animation-bar{
        width: 10px;
        height: 150px;
    }
    .questions-animation {
        bottom: 315px;
        max-width: 298px;
    }
    .questions-row:not(:last-of-type) {
        margin-bottom: 45px;
    }
    .users-h2{
        max-width: 600px;
    }
    .users-block {
        height: 380px;
    }
    .users-items {
        max-width: 780px;
        top: 85px;
        left: 150px;
    }
    .users-item__number {
        font-size: 35px;
    }
    .users-item__p {
        margin-top: 10px;
        font-size: 16px;
    }
    .partners-h2 {
        max-width: 100%;
    }
    .submit-header__title {
        font-size: 52px;
    }
    .cta-gold {
        margin: 35px 0 10px;
        padding: 20px 25px;
    }
    .plans-title{
        max-width: 100%;
    }
    .plan-name {
        padding: 16px 0;
        font-size: 16px;
    }
    .plan-column, .plan-table-boxes__box {
        width: 165px;
    }
    .plan-price {
        font-size: 30px;
    }
    .plan-price::after {
        font-size: 16px;
    }
    .plan-cta {
        font-size: 12px;
        height: 60px;
    }
}

@media screen and (max-width: 991px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .offer-wrapper {
        flex-direction: column-reverse;
    }
    .offer-image__rotate{
        display: none;
    }
    .offer-image__roman {
        padding-top: 10px;
    }
    .offer-image {
        right: -100px;
        height: 670px;
        padding-bottom: 140px;
    }
    .offer {
        margin-top: 0;
        left: 0;
        right: 0;
        padding: 0 20px 70px;
        max-width: 100%;
        position: absolute;
        z-index: 5;
        background: linear-gradient(0deg, #141414 60%, rgba(20, 20, 20, 0) 100%);
    }
    .cta {
        font-size: 12px;
        font-weight: bold;
        padding: 22px 42px;
        max-width: fit-content;
        height: auto;
        margin: 0 auto;
    }
    .offer__title {
        font-size: 29px;
    }
    .offer__p {
        margin: 10px 0 15px;
        font-size: 16px;
        line-height: 1.257em;
    }
    .offer-subinfo::after{
        display: none;
    }
    .offer-subinfo {
        position: initial;
        max-width: 100%;
        border-left: 2px solid #FFFFFF;
        padding-left: 20px;
        text-align: left;
        font-weight: 400;
        line-height: 1.647em;
        font-size: 16px;
        margin: 15px 0 30px;
    }
    .offer-subinfo__p:not(:last-of-type) {
        margin-bottom: 0;
    }
    .offer-subinfo__p {
        font-size: inherit;
        display: inline;
    }
    .offer-subinfo__span {
        font-size: inherit;
        display: inline;
    }
    .offer-subinfo__p:not(:last-of-type)::after{
        display: none;
    }
    section {
        padding-top: 50px;
    }
    .title-h2 {
        max-width: 100%;
        font-size: 36px;
        text-align: center;
    }
    .title-h2__subtitle {
        display: inline;
        margin-top: unset;
        font-size: 32px;
    }
    .feedback-carousel__btn{
        display: none;
    }
    .feedback-carousel {
        margin-top: 50px;
        padding: 0;
        position: relative;
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .owl-dot {
        background: #fff !important;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .owl-dot:not(:last-of-type){
        margin-right: 10px;
    }
    .owl-dot.active {
        background: #E7C087 !important;
    }
    .reasons-wrapper {
        flex-direction: column;
    }
    .reason, .features {
        max-width: 100%;
        width: 100%;
    }
    .title-h2_reasons{
        text-align: left;
    }
    .reason__gold {
        font-size: 18px;
        margin-top: 15px;
        font-weight: 400;
    }
    .reason__white::before {
        width: 54px;
        height: 54px;
        position: initial;
        display: block;
        margin-bottom: 5px;
    }
    .reason__white {
        font-size: 17px;
        margin-top: 15px;
        font-weight: 400;
    }
    .reason__author::before {
        height: 17px;
        margin-bottom: 15px;
    }
    .reason__author {
        margin-top: 35px;
        font-size: 32px;
        flex-direction: column;
    }
    .reason-author-img {
        width: 100%;
        max-width: 216px;
        margin: 0 0 15px;
    }
    .reason-author-name {
        text-align: center;
        font-size: 32px;
    }
    .features {
        margin: 52px 0 0 0;
        padding: 75px 12px 12px;
    }
    .features__title {
        font-size: 36px;
    }
    .features-border__span {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        max-width: 100%;
    }
    .features-border {
        top: 43px;
    }
    .features-content {
        padding: 50px 25px 25px;
    }
    .features-ul__li {
        font-size: 15px;
    }
    .features-ul__li::before {
        width: 17px;
        height: 17px;
    }
    .features-cta {
        margin-top: 36px;
    }
    .reasons {
        padding-bottom: 50px;
    }
    .contacts {
        padding: 0;
        border: none;
    }
    .contacts-wrapper {
        flex-direction: column;
        overflow: hidden;
    }
    .contacts-content-name {
        font-size: 32px;
        font-weight: 400;
    }
    .contacts-content-links {
        margin: 25px 0 40px;
    }
    .contacts-socials__link:not(:last-of-type), .footer-socials__link:not(:last-of-type) {
        margin-right: 5px;
    }
    .contacts-socials__link, .footer-socials__link {
        width: 24px;
        height: 24px;
        padding: 3px;
    }
    .contacts-content-links__title {
        font-size: 15px;
        margin-left: 10px;
    }
    .contacts-content-info__li {
        font-size: 15px;
        position: relative;
        padding-left: 30px;
    }
    .contacts-content-info__li::before {
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
    }
    .contacts-photo {
        margin-top: 50px;
        max-width: 100%;
        max-height: 450px;
        max-width: 450px;
    }
    .contacts-photo::before{
        display: none;
    }
    .questions {
        padding: 90px 0 50px;
    }
    .questions-subtitle {
        margin: 25px 0 10px;
        font-size: 20px;
    }
    .questions-block {
        background: #FFF8EE;
        color: #000;
        padding: 40px 30px;
        margin-top: 400px;
    }
    .questions-row {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }
    .questions-row__item {
        max-width: 100%;
        text-align: left;
        position: relative;
        padding-left: 25px;
        opacity: 1;
    }
    .questions-row__item::before{
        content: "";
        background: url('../img/icons/li.svg') no-repeat center center/contain;
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 2px;
    }
    .questions-row__item:not(:last-of-type), .questions-row:not(:last-of-type){
        margin-bottom: 15px;
    }
    .questions-row-gold {
        color: #000;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: rgba(0,0,0,0.3);
    }
    .questions-block::after {
        height: 400px;
        background-size: cover;
        background-position-y: top;
        top: -400px;
        max-width: 400px;
    }
    .questions-block::before {
        bottom: unset;
        top: -400px;
        height: 387px;
        max-width: 400px;
    }
    .questions-animation {
        bottom: unset;
        max-width: 300px;
        width: 300px;
        top: -288px;
    }
    .users-block {
        height: unset;
        position: inherit;
        background: none;
    }
    .users-items {
        max-width: 100%;
        position: inherit;
        margin-top: 50px;
        flex-direction: column;
    }
    .users-item {
        width: 100%;
        text-align: center;
    }
    .users-item:not(:last-of-type){
        margin-bottom: 20px;
    }
    .users-item__number {
        font-size: 43px;
        border-bottom: 2px solid #BE9F71;
        width: 60px;
        padding: 0 0 15px;
        margin-bottom: 15px;
    }
    .users-item__p {
        margin: 0;
        padding: 0;
        font-size: 17px;
        font-weight: 400;
    }
    .users-block__cta {
        position: inherit;
        margin-top: 50px;
    }
    .partners {
        padding-top: 100px;
    }
    .users-block__cta::before{
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .header{
        order: 1;
    }
    .feedback{
        order: 2;
    }
    .reasons{
        order: 3;
    }
    .contacts{
        order: 4;
        background: transparent;
    }
    .questions{
        order: 5;
    }
    .users{
        order: 6;
    }
    .partners{
        order: 8;
        padding-top: 140px;
    }
    .submit {
        order: 7;
        flex-direction: column;
        overflow: hidden;
    }
    .footer{
        order: 9;
    }
    .submit__img {
        width: 100%;
        background: url('../img/pre-footer.png') no-repeat bottom center/contain;
        max-height: 700px;
        min-height: 200px;
        height: 500px;
    }
    .submit__img img{
        display: none;
    }
    .submit__content {
        margin: 55px 0 0 0;
        text-align: center;
    }
    .submit-header__title {
        font-size: 36px;
    }
    .submit-header__p {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
    }
    .cta-gold {
        margin: 30px auto 10px;
        padding: 20px 25px;
        font-size: 12px;
        font-weight: 500;
    }
    .cta-warning {
        opacity: 0.8;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.957em;
    }
    .partners-h2{
        font-size: 24px;
    }
    .partners-block {
        margin-top: 25px;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .partners-block__item {
        height: 140px;
        width: 100%;
        max-width: 330px;
    }
    .partners-block__item:not(:last-of-type){
        margin-bottom: 15px;
    }
    .footer {
        padding: 115px 0 30px;
        background: #141414;
    }
    .footer-wrapper {
        flex-direction: column;
        font-size: 17px;
        align-items: center;
        max-width: 250px;
        margin: 0 auto;
        text-align: center;
    }
    .footer-links {
        margin-top: 35px;
    }
    .footer-socials {
        margin-bottom: 10px;
        justify-content: center;
    }
    .footer-docs {
        flex-direction: column;
        align-items: center;
    }
    .footer-docs__link {
        font-size: 12px;
    }
    .footer-docs__link:not(:last-of-type)::after{
        display: none;
    }
    .header {
        background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url(../img/header/bg.svg) no-repeat top right/contain, linear-gradient(180deg, #111111 0%, #111111 100%);
    }
    .offer-image{
        opacity: 0.9;
    }
    .reason__author::before{
        background-size: contain;
    }
    .plans-wrapper{
        display: none;
    }
    .plans{
        order: 2;
    }
    .plans-mobile{
        margin: 30px auto 0;
        max-width: 500px;
        display: block;
    }
    .mobile-plan{
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
    }
    .mobile-plan__title{
        background: url('../img/btn.png') no-repeat center center/cover, linear-gradient(360deg, #BB8443 36%, #EFCF85 74%, #EFCE86 74%);
        display: block;
        padding: 30px 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.07em;
        color: #000;
    }
    .mobile-plan__body {
        padding: 30px 35px;
    }
    .mobile-plan-items{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .mobile-plan-items__item{
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.197em;
        display: flex;
    }
    .mobile-plan-items__item::before{
        content: "";
        background: url('../img/icons/li.svg') no-repeat center center/contain;
        width: 17px;
        height: 17px;
        display: block;
        flex-shrink: 0;
        margin-right: 5px;
    }
    .mobile-plan-items__item:not(:last-of-type){
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    .mobile-plan-items__item_false{
        opacity: 0.3;
    }
    .mobile-plan-items__item_false::before{
        background: url('../img/icons/times.svg') no-repeat center center/contain; 
    }
    .mobile-plan-items__item_false p{
        text-decoration: line-through;
    }
    .mobile-plan__price{
        display: block;
        padding: 28px 0;
        text-align: center;
        background: #E7C087;
        color: #000;
        font-size: 36px;
    }
    .mobile-plan__price::after{
        content: "руб.";
        font-size: 16px;
        font-weight: 400;
    }
    .plan-mobile-cta{
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
        padding: 24px 0;
        font-size: 12px;
        font-weight: bold;
    }
    .plan-mobile-cta:not(:last-of-type){
        margin-bottom: 45px;
    }
}